<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".registration_user_info.crop.CropActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
    </application>

</manifest>